<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/img/favicon/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/img/favicon/safari-pinned-tab.svg' | relative_url }}" color="#263959">
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon/favicon.ico' | relative_url  }}">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-color/1.8.0/open-color.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{{ '/assets/js/preload.js' | relative_url }}"></script>

  <!-- Title -->
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">
</head>
