<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      {%- if paginator.previous_page -%}
        <a class="newer-posts" href="{{ paginator.previous_page_path }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
      {%- endif -%}

      {%- if paginator.total_pages > 1 -%}
        <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {%- endif -%}

      {%- if paginator.next_page -%}
        <a class="older-posts" href="{{ paginator.next_page_path }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      {%- endif -%}
    </ul>
  </nav>
</div>
