<div class="social">
  {% for social in site.data.social %}
    {% assign username = site.social[social.title] %}
    {% if username %}
      <li class="social-item">
        <a href="{{ social.url }}{{ username }}" target="_blank">
          <i class="fab {{ social.icon | default: 'fas fa-link' }}"></i>
        </a>
      </li>
    {% endif %}
  {% endfor %}
  {% if site.email %}
    <li class="social-item">
      <a href="mailto:{{ site.email }}" target="_blank">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
  {% endif %}
  {% if site.author.resume %}
    <li class="social-item">
      <a href="{{ site.author.resume | relative_url }}" target="_blank">
        <i class="fas fa-briefcase"></i>
      </a>
    </li>
  {% endif %}
  {% if site.repo %}
    <li class="social-item">
      <a href="{{ site.repo }}" target="_blank">
        <i class="fas fa-code"></i>
      </a>
    </li>
  {% endif %}
</div>
