---
layout: default
title: Categories
---

<h1>Categories</h1>

{% if site.categories != empty %}
  <div class="post-meta">
    <i class="post-icon fas fa-folder"></i>
    {% for category in site.categories %}
      {% assign name = category[0] | slugify %}
      <a class="post-category" href="#{{ name }}">{{ name }}</a>
    {% endfor %}
  </div>

  {% for category in site.categories %}
    {% assign name = category[0] | slugify %}
    <h3 id="{{ name }}">
      {{ name }}
    </h3>
    <ul>
      {% for post in category[1] %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% else %}
  {% include empty.html %}
{% endif %}
