.posts {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  .post {
    @extend .tile;
    display: flex;
    margin: 0;
    overflow: hidden;

    .post-item {
      order: 0;
      flex-grow: 1;
      padding: var(--spacer);

      p:last-child {
        margin-bottom: 0;
      }
    }

    .post-img {
      order: 1;
      width: 10rem;
      margin: 0 0 0 auto;
      padding: 0;
      border-radius: 0;
      object-fit: cover;
      vertical-align: middle;
    }
  }

  @media screen and (max-width: $screen-md) {
    .post {
      flex-direction: column;

      .post-item {
        order: 1;
      }

      .post-img {
        order: 0;
        height: 10rem;
        width: 100%;
      }
    }
  }

  @media
  screen and (min-width: $screen-sm) and (max-width: $screen-md),
  screen and (min-width: $screen-xl) {
    flex-direction: row;
    flex-wrap: wrap;

    .post {
      width: calc(50% - var(--spacer));
    }
  }
}

.page,
.post {
  margin-bottom: var(--spacer-2);
}

.page-title,
.post-title {
  @extend .unlink;
}

.post-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacer-half);
  margin-top: -.5em;
  margin-bottom: var(--spacer);
  opacity: .65;
  font-size: .85em;
}

.post-icon {
  vertical-align: middle;
}

.post-category {
  border-bottom: 2px dotted var(--border-color);
}

a.post-category {
  @extend .unlink;

  &:hover,
  &:focus {
    border-bottom-style: solid;
    border-color: var(--main-color);
  }
}

.post-tag {
  @extend .tile;
  padding: .1em .5em;
  border-radius: var(--border-radius);
  background-color: var(--main2-color-bg);
}

a.post-tag {
  @extend .unlink;
}

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1em;
  font-weight: bold;
}
// List of footnotes
.footnotes {
  margin-top: var(--spacer-2);
  font-size: 85%;
}
