---
layout: default
---

<article class="article-page">
  <div class="page-content">
    {%- if page.img -%}
      <div class="page-cover-image">
        <figure>
          <img class="page-image" src={{ "/assets/img/" | append: page.img | relative_url }} alt="{{ page.title }}">
          {%- if page.fig-caption -%}
            <figcaption>{{ page.fig-caption }}</figcaption>
          {%- endif -%}
        </figure>
      </div> <!-- page cover image -->
    {%- endif -%}

    <div class="wrap-content">
      {{ content }}
    </div> <!-- wrap content -->
  </div> <!-- page content -->
</article> <!-- article page -->
